<p>Dear Admin,</p>
<p>Mr/ Mrs. <%= "#{@contact.first_name} #{@contact.last_name}" %> caontact you.</p>
<p><b>Email</b></p>
<p><%= "#{@contact.email}" %></p>
<p><b>Subject</b></p>
<p><%= "#{@contact.subject}" %></p>
<p><b>Message</b></p>
<p><%= "#{@contact.message}" %></p>

<p>Thanks & Regards</p>
<p>Team GrowwCapital</p>
