<p>Dear Ma'am/ Sir,</p>
<p>Mr/ Mrs. <%= "#{@job_application[:fname]}" %> contact you. for <%= "#{@job_application[:job]}" %> job profile.</p>
<p>Below are the contact details:</p>
<p><b>Email</b></p>
<p><%= "#{@job_application[:email]}" %></p>
<p><b>Mobile Number</b></p>
<p><%= "#{@job_application[:mobile_number]}" %></p>

<p>Thanks & Regards</p>
<p>Team GrowwCapital</p>
