<section>
  <div class="container">
    <div class="row row-heading">
      <div class="col-md-12 heading-container">
        <span class="heading-container">Channel Partner Details</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table">
        <tr>
          <th>Full Name:</th>
          <td><%= @executive.full_name %></td>
          <th>Code:</th>
          <td><%= @executive.code %></td>
        </tr>
      </table>
    </div>
  </div>
</section>