<section class="business-loan-section custom-container">
  <%= form_for @used_car_loan, :url => { :action => @used_car_loan.id.nil? ? "update_otp_status" : "update_otp_status"}, html: {id:  "otp_used_car_loan", class: "otp_used_car_loan"} do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.number_field(:otp, class: "form-control", value: "") %>
          </div> 
          <button type="submit" class="btn btn-default">Submit</button>
          <a href="javascript:void(o)" id="used-car-loan-resend-otp" style="float: right;">Resend</a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  <%end%>
</section>
