<section class="personal-loan-section custom-container">
  <%= form_for @transfer_home_loan, :url => { :action => "update_otp_status" }, html: {id: "otp_transfer_home_loan", class: "otp_transfer_home_loan"} do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.number_field(:otp, class: "form-control", value: "", placeholder: "OTP") %>
          </div> 
          <button type="submit" class="btn btn-custom">Submit</button>
          <a href="javascript:void(o)" id="tr-home-loan-resend-otp" style="float: right;">Resend</a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  <%end%>
</section>
