<p>Dear Sir/ Ma'am,</p>
<p>Thank you for the francise application.</p>
<p>Please find an agreement attachment for the francise application.</p>
<p>For payment please click on below link:</p>
<p><%= link_to 'Proceed with Payment', "#{root_url[0...-1]}/channel_partner?applicant_id=#{@friancise_application.id}"  %></p>
<br><br>
<p>Thanks & Regards</p>
<p>Team Growwcapital</p>
