<p>Dear Sir/ Ma'am,</p>
<p>Thank you for the francise application.</p>
<p>Please find an agreement attachment for the francise application.</p>
<p>For payment please click on below link:</p>
<p><%= link_to 'Proceed with Payment', "#{channel_partner_url}?applicant_id=#{@friancise_application.id}"  %></p>
<br><br>
<p>Thanks & Regards</p>
<p>Team GrowwCapital</p>
