<p>Dear <%= @refer_earn.full_name %>,</p>
<p>Our associate will reach you soon for details.</p>
<p>Here is your reference number: <%= @refer_earn.reference_number %></p>
<br><br>
<p>Thanks & Regards</p>
<p>Team GrowwCapital</p>