<p>Dear Customer,</p>
<p>You have successfully applied for Used Car Loan.</p>
<p>Your reference id is <%= "#{@loan.reference_number}" %></p>
<p>
  Your application has been <b>Successfully Submitted.</b> Our loan expert will get back to you with in <b>24 hours</b> to take this application forward.
</p>
<br><br>
<p>Thanks & Regards</p>
<p>Team Growwcapital</p>