<section id="emi-calc-banner">
</section>
<section class="emi-calcul">
  <div class="container p-container">
    <div class="row row1">
      <div class="col-md-6">
        <label>Loan Amount (₹):</label><input type="number" class="form-control loanAmount" value="1">
        <input type="range" min="1" max="1000000" value="100" class="slider sldLoanAmount">
        <hr class="emi-calc">
        <label>Rate of Interest (%):</label><input type="number" class="form-control loanRoi" value="1">
        <input type="range" min="1" max="100" value="1" class="slider sldLoanRoi">
        <hr class="emi-calc">
        <label>Loan Tenure (years):</label><input type="number" class="form-control loanTen" value="1">
        <input type="range" min="1" max="500" value="1" class="slider sldLoanTen">
        <hr class="emi-calc">
        <div class="row row2">
          <div class="col-md-6">
            <label>Monthly EMI</label><br>
            <span class="mon-emi"></span>
          </div>
          <div class="col-md-6">
            <label>Principal Amount</label><br>
            <span class="pri-amt"></span>
          </div>
        </div>
        <div class="row row2">
          <div class="col-md-6">
            <label>Total Interest</label><br>
            <span class="tot-int"></span>
          </div>
          <div class="col-md-6">
            <label>Total Amount</label><br>
            <span class="tot-amt"></span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div width="" height="">
          <canvas id="emiCalcChart" width="400" height="400"></canvas>          
        </div>
      </div>
    </div>
  </div>
</section>
