<section id="blog-banner"></section>
<section class="content faq-container">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>FAQs</h2>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#vlwgl">What information does a bank look at when giving loan?</a>
        </h4>
        <div id="vlwgl" class="collapse">
          <p>Loan is an amount which a person borrows from bank for a certain period of time and repays back after that time with interest rate.</p>
          <ol>
            <li>Secured loans</li>
            <li>Unsecured loan</li>
          </ol>
          <p><b>Secured loan:</b> A loan in which the person taking loan have to keep his/her property as guarantee to the lender in exchange for money.</p>
          <p>Ex., home loan, gold loan, car loan, business loan.</p>
          <p><b>Unsecured loan:</b> A type of loan in which the person who is taking loan do not have to keep a guarantee in exchange for money.</p>
          <p>Ex., student loan, personal loan, credit card.</p>
          <p>Bank when helping with loan they look at your credit score, income, ongoing EMI’s, occupation, repayment history, if secured loan bank will look for the value of the collateral, Size of down payment, purpose of loan.</p>
          <p></p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#dhmccaycsn">Does having multiple credit card affect your cibil score negativily?</a>
        </h4>
        <div id="dhmccaycsn" class="collapse">
          <p>No ,having multiple credit card does not affect your cibil score.</p>
          <p>Firstly what's a credit card it is like a post pay method of bank which we can use to pay for things and pay the bank afterwards monthly or in full.</p>
          <p>Cibil score is a credit score which is decided on the basis of your past and present payment history.</p>
          <p>Many of us are under the impression that shutting the old debit card and using the fresh one will improve their cibil score.</p>
          <p>But, it's false once the old card is been shut down along with it goes the credit points of yours .</p>
          <p>So, instead of shutting down you can limit the use of credit card and be regular with the repayment. So, it will help in bosting your cibil.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#wadtohl">What are different types of home loan?</a>
        </h4>
        <div id="wadtohl" class="collapse">
          <p>Let's discuss first what is a home loan, home loan is a type of loan which a person takes from bank to build himself a place called home.</p>
          <p>Home loan is a type of secured loan meaning it is given by the bank by taking a collateral or guarantee.</p>
          <p>There are a category of home loans between which you can choose based on your requirement:</p>
          <ul>
            <li><b>Home construction loan</b></li>
            <p>This loan is like a gem for people who wants to construct their own house rather than buying an already constructed one.</p>
            <p>Before taking a construction loan one should know the exact cost of construction as the loan is based on the approximate construction cost. Construction loan also depends on the plot cost. The loan for construction loan is generally given in installments.</p>
            <li><b>Loan for purchase of loan</b></li>
            <p>The loan which is generally given to applicants who are looking to buy a land . And the person can give back the money in the form of monthly installments.</p>
            <li>Home expansion loan</li>
            <p>Thinking of expanding, adding a room or kitchen. This loan is the exact thing you may have been looking for as these loan is provided to applicants who just want to renovate or expand their existing home.</p>
            <li>Transfer of home loan</li>
            <p>Yes, you are hearing it right home loan can be transferred. But only when the conditions of the transfer of home loan is met which is if the owner of the property has sold the property to a new buyer. Generally the transfer of loan is also done if the person willing to transfer loan to another bank because he is finding a low interest rate on some other bank. But before transferring the loan one should keep in mind the processing fees etc.</p>
            <li>NRI home loan</li>
            <p>Most Indian bank provide secured home loan to NRI (non resident indian ). These loan is designed for NRI who want to buy a home in India. The procedure for these loans is slightly different from the others.</p>
          </ul>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#hdigilwbc">How do I get instant loan with bad credit?</a>
        </h4>
        <div id="hdigilwbc" class="collapse">
          <p>Generally banks are willing to give an instant loan to person with a good credit score but does that mean a person cannot get loan if having a bad credit.</p>
          <p>The answer to this is no a person having bad credit can also get an instant loan.</p>
          <p>But with taking proper measures instant loan can be granted like.,</p>
          <ul>
            <li>Proving that you can repay with your income having a 5 digit salary does not mean you have a good cibil score but it can be a plus point in ensuring that you repay back the loan, so communicate with the lender and provide proof of steady income.</li>
            <li>Apply for a low personal loan. From a bank’s view low credit score means higher the probability to default in repayment. But if you take a low personal loan bank might get more assurance giving you the loan.</li>
            <li>Apply with a guarantor for loan Applying with a guarantor will get your chances of getting a loan more faster. But with getting a full permission with the guarantor.</li>
          </ul>
          <p>Getting a loan with bad credit score can get you a loan but the loan interest rate might be higher as the bad credit score directly indicates your bad repayment history.</p>
          <p>Bad credit score can be due to:</p>
          <ul>
            <li>Irregularities in repayment of EMI or credit card bills.</li>
            <li>Amount you took from bank.</li>
            <li>Having high credit use.</li>
            <li>New loan applied.</li>
            <li>Sometimes their might be an error in your cibil report which you need to discuss with bank.</li>
          </ul>
          <p>You can also boost your credit score by doing some healthy improvements to your account like.,</p>
          <ul>
            <li>Repaying your EMI or credit bills on time.</li>
            <li>Paying your credit card bills in full rather than monthly installments.</li>
            <li>Getting a mix of secured and unsecured loans.</li>
            <li>Controlling your credit card spending</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#cigaccwlcs">Can I get a credit card with low cibil score?</a>
        </h4>
        <div id="cigaccwlcs" class="collapse">
          <p>Credit card is the most conveninent type of payment method in today's world, in which you can buy the items you want and pay for them later.</p>
          <p>Credit card can be of good use if used properly and repayment of it done on time.</p>
          <p>The issue with its repayment will directly affect your cibil score.</p>
          <p>Sometimes due to issues we might get irregular with the repayment which gets us into the category of low cibil scorers.</p>
          <p>But you can get a credit card with low cibil score with these options:</p>
          <ul>
            <li>Applying with your primary bank</li>
            <p>Applying for credit card with your bank can be easy because your primary bank will have your financial history which makes them easy  to trust which makes you an easy applicant for credit card.</p>
            <li>Get a secured credit card</li>
            <p>Credit cards are usually given to a person without taking any collateral from them .But in case of bad credit credit card is prevented.</p>
            <p>So what you can do is provide a collateral against which bank will provide you with a credit card.</p>
          </ul>
          <p>There are cons of taking a credit card with bad credit score which are.,</p>
          <ul>
            <li>Getting a credit card with a high rate of interest.</li>
            <li>Low credit limit.</li>
            <li>High possibility for card rejection.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#sycnobfpl">Should you choose NBFCs or banks for a personal loan?</a>
        </h4>
        <div id="sycnobfpl" class="collapse">
          <p>NBFC is a non-banking financial corporation, which provides financial services and banking facilities to people. NBFCs work under the rules and regulations laid down under the companies act of 1956.</p>
          <p>The difference between a bank and NBFC is that a bank's interest rate is regulated by the rbi, while NBFC's interest rate depends on the cost of funds, margin, risk premium, etc. Choosing between an NBFC and a bank is a tricky business as an NBFC provides several advantages over a bank as NBFC offers fast loan approval and also NBFC does not depend on the CIBIL score they use artificial intelligence, social media quotient, and machine language to decide a person's credit worthiness.</p>
          <p>Top NBC in India are;</p>
          <ul>
            <li>TATA capital</li>
            <li>Mahindra finance</li>
            <li>IIFL finance</li>
            <li>HDB financial services</li>
            <li>Aditya Birla capital</li>
          </ul>
          <p>An NBFC can be an investment company, loan company, housing finance company, or housing finance company.</p>
          <p>Generally, an NBFC personal loan is taken for vacation, medical emergency, etc. Taking a loan from NBFC is easy and also they provide a competitive interest rate than banks. The terms and regulations for an NBFC are more flexible when compared with banks.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#cwhtsbwsucctitcii">Can we have the same benefits with secured and unsecured credit cards to increase the CIBIL score in India?</a>
        </h4>
        <div id="cwhtsbwsucctitcii" class="collapse">
          <p>A secured credit card is given to a person by the lender by taking a fixed amount as collateral in exchange for providing him with credit card service.</p>
          <p>An unsecured credit card is given to a person who has a stable income source. To obtain this card you do not have to provide collateral to the lender.</p>
          <p>An unsecured credit card gets easy approval as it shows that you are capable of repaying the lender.</p>
          <p>The benefit of a secured credit card is that if you have a bad credit history, you can avail of this card to rebuild your credit history. You can repay the credit bills on time and your credit score is boosted in no time.</p>
          <p>The benefit of an unsecured card is that you do not have to put any fixed deposit in the bank to avail of this card. Your credit card spending is calculated based on your eligibility to repay the loan.</p>
          <p>Yes, we have the same benefits with secured and unsecured credit cards to increase the CIBIL score in India. Just pay back the credit bill on time and don't overspend on the card.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#wirrrltrr">Why is reverse repo rate lower than the repo rate?</a>
        </h4>
        <div id="wirrrltrr" class="collapse">
          <p>The Repo rate is the interest rate RBI charges on money borrowed by commercial banks. Repo rate helps RBI in controlling inflation.</p>
          <p>The reverse repo rate is the interest rate on which RBI borrows money from banks. The reverse repo rate helps the RBI control the supply of money.</p>
          <p>The reverse repo rate will always be lower than the repo rate because RBI cannot pay higher interest on deposits than charging interest on loans.</p>
          <p>The Repo rate is higher than the reverse repo rate because it helps RBI with proper cash flow to banks. A rise in repo rate directly banks as they increase the interest rate which makes borrowing costlier. An increase in the repo rate makes the savings more attractive.</p>
          <p>The current repo rate of RBI is 4.90%.</p>
          <p>During high inflation in the economy, the RBI increases the reverse repo. It encourages the banks to lend more funds to the RBI to earn higher returns on excess funds.</p>
          <p>The current reverse repo rate of RBI is 3.35%.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#iihccaistctathe">If I have a credit card and I surrender the card to the bank after clearing the bills, will my credit score fall?</a>
        </h4>
        <div id="iihccaistctathe" class="collapse">
          <p>If a credit card is closed after clearing the credit bill, it will still affect the credit score. A credit score is made by proper repayments by the credit card holder. And payments that are made on time develop a good repayment history which boosts your credit score.</p>
          <p>Once you close your credit card, all the payment history and the credits earned till date will be lost. And the credit score will fall.</p>
          <p>Let us look at it this way if you have two credit cards and the credit use on each card is 1 lakh combined, which makes it 2 lakh and you bought an AC for Rs. 50,000, so you used 25% of the total limit. But when you close one card the overall use falls on the other card, which is 50% of the card utilized which makes it unhealthy and credit score is affected negatively.</p>
          <p>What you can do is keep the card with yourself without using it, so the credit points and payment history will play a key role in boosting CIBIL.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#siumhltptcl">Should I use my home loan to pay the car loan?</a>
        </h4>
        <div id="siumhltptcl" class="collapse">
          <p>Many people nowadays pay off their car loans by using their home loans.</p>
          <p>A person can obtain both a car loan and a home loan if he/she can pay back both of them.</p>
          <p>Why is a car loan paid before a home loan? The reason for this is the difference in interest rate.</p>
          <p>The car loan interest rate of different banks ranges begins from 7% and goes up to 16% which is much higher when compared with the home loan interest rate, which starts from 6% and goes up to 12%.</p>
          <p>It is better to pay off the car loan with a home loan because then you have to pay the interest loan of the home loan which is lower than a car loan.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#siumhltptcl">How to get a CIBIL score of 800?</a>
        </h4>
        <div id="siumhltptcl" class="collapse">
          <p>A credit score of 800 and above is considered best for easy loan approval. Getting a credit score of 800 is not an easy task but is possible with these steps;</p>
          <ul>
            <li>The credit card and EMI payments are to be repaid on time.</li>
            <li>Never use too much of credit cards.</li>
            <li>Take both secured(Keeping guarantee) and unsecured loans(no guarantee), meaning there will be a history of both on your account.</li>
            <li>Keeping track of the CIBIL report.</li>
          </ul>
          <p>The persons having a CIBIL score of 800 can enjoy many benefits like,</p>
          <ul>
            <li>Less interest rate on credit cards and loans.</li>
            <li>Easy loan approval.</li>
            <li>Negotiating power with banks.</li>
            <li>A person with a CIBIL of 800 can get many better options like a choice between different banks.</li>
          </ul>
          <p>To go up to a score of 800 requires time and patience and not just to be done overnight. It takes time to build up your CIBIL. And when reached you can enjoy the benefits as mentioned above.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#htpyccd">How to protect your credit card details?</a>
        </h4>
        <div id="htpyccd" class="collapse">
          <p>According to the Hindustan Times, around 1.3 million Indians are at risk of credit card fraud. It is because you are not being careful with your credit card details.</p>
          <p>Many times people would casually share their credit card details on shopping websites. If websites are not secured will misuse your details. Keep the credit card details protected because they can be misused. To protect the credit card from being misused, we should follow some steps;</p>
          <ul>
            <li>Never use credit card details on doubtful sites, as this will protect your card from hackers.</li>
            <li>To avoid any unauthorized activity, check your credit card history regularly.</li>
            <li>Never share any OTP sent on your mobile with anyone.</li>
            <li>A pin code is a key to your credit card lock. Never share and change it regularly.</li>
            <li>Update bank immediately in case the card is stolen or damaged.</li>
            <li>Always keep your credit card with yourself.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#hdicacch">How do I check a credit card history?</a>
        </h4>
        <div id="hdicacch" class="collapse">
          <p>In today's world, credit cards are vital in day-to-day life. A long time back, credit cards were considered things to be used only by the rich, as the middle-class people were unaware of their use.</p>
          <p>But as the world flourished, people came to know about its use.</p>
          <p>Credit cards are a payment method in which you can buy a thing and pay for it afterward. You will receive the report of your use at the end of the month.</p>
          <p>It is good to check the report as anything unauthorized can be reported. You can check your credit card report via online banking, or you will get a monthly detail of your credit card transaction. This report will contain your;</p>
          <ul>
            <li>List of transactions domestic or international.</li>
            <li>Transaction dates.</li>
            <li>Dues pending on card to avoid late payment fee.</li>
            <li>The credit limit of how much can you use and how much of it is left on the card.</li>
            <li>How many reward points are present on the account.</li>
            <li>Summary of how much you have paid to the bank, and how much due is pending.</li>
            <li>The list of items bought through credit card.</li>
          </ul>
          <p>It is necessary to check your credit card bill, as this will save you from bad debt. Credit card bills if repaid on time will help you in the long run. And seeing any unusual activity on the credit card like a purchase should be directly reported to the bank. A card report also helps you understand if you are overspending more than usual.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#wkocligw8hcc">What kind of car loan can I get with an 800 credit score?</a>
        </h4>
        <div id="wkocligw8hcc" class="collapse">
          <p>Lowest interest car loan, yes you heard it right with a credit score of 800 you can get a car loan with the lowest interest rate.</p>
          <p>The CIBIL score is the number describing a person's repayment history. A CIBIL is measured from 300 to 900. A score below 500 is considered poor and insufficient for loan approval, While a score above 750 is an excellent score and gets easy loan approval.</p>
          <p>While taking a car loan, people with good CIBIL sometimes pay high-interest rates, because of the absence of knowledge of CIBIL and its benefit.</p>
          <p>With a CIBIL score of 800, you can get a car loan with,</p>
          <ul>
            <li>Zero interest rate.</li>
            <li>Low processing fees.</li>
            <li>Easy approval for the loan.</li>
            <li>Attractive offers.</li>
          </ul>
          <p>To check your CIBIL score you can visit the website</p>
          <p><a href="https://myscore.cibil.com">https://myscore.cibil.com</a> to create your account and get your CIBIL.</p>
          <p>Stay connected to get more knowledgeable updates on CIBIL.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#dihtpftcciidut">Do I have to pay for the credit card if I don't use it?</a>
        </h4>
        <div id="dihtpftcciidut" class="collapse">
          <p>Depending on the bank, most banks nowadays do not charge for unused credit cards. But the maintenance and the monitoring charge still needs to be paid.</p>
          <p>Credit cards are the most convenient way to pay. You can buy the thing you like and pay for it afterward.</p>
          <p>Credit card inactivity means the credit card is unused for a long time. When the inactivity on your card reaches a specific time, the card provider company will deactivate the card. But there is no particular time until the card is deactivated, as it is up to the provider.</p>
          <p>There are two types of inactivity, the first being inactive after using it for a while, and the second is inactivity from the start. The person who deactivates the card after using it for a while will lose the reward points present on the card. And the person who has not used the card from the start just has to pay the maintenance charge and deactivate the card.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#witgl">What is the definition of a gold loan?</a>
        </h4>
        <div id="witgl" class="collapse">
          <p>A gold loan is a type of loan taken by keeping the gold articles as collateral with the bank. A gold loan comes under the category of a secured loan.</p>
          <p>A gold loan is generally taken for medical expenses, vacations, or emergency money requirements.</p>
          <p>A gold loan gets easy approval from a bank as a loan is given by keeping gold as collateral for money. If there is an application for a gold loan processing and documentation fees charged on it are zero.</p>
          <p>If a gold loan is applied for the construction of a building, you can get a tax exemption on that.</p>
          <p>Several banks in India offer attractive lower interest rates on gold loans.</p>
          <p>The tenure of a gold loan can be from a minimum of 3 months to a maximum of 48 months.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#hdigagl">How do I get a gold loan?</a>
        </h4>
        <div id="hdigagl" class="collapse">
          <p>A gold loan is generally taken for vacation, medical expenses, or other emergency use.</p>
          <p>To get a Gold loan from the bank, you just have to go to the bank and keep your gold as collateral, submit an identity proof and get the paperwork done.</p>
          <p>A gold loan is a secured loan that gets easy approval from banks.</p>
          <p>The interest rate on a gold loan is lower when compared to other loans.</p>
          <p>You can get a gold loan from both NBFC and a bank. Although an NBFC interest rate on the gold loan can be higher compared to a bank.</p>
          <p>To get the gold loan you just need to have your identity proof and address proof which can be a driving license, pan card, or passport get the purity of gold checked before taking it to the bank.</p>
          <p>Once your documents are approved loan amount is disbursed into the account.</p>
          <p>The age limit of getting a gold loan is from 18 years to 70 years.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#iaglgo">Is a gold loan a good option?</a>
        </h4>
        <div id="iaglgo" class="collapse">
          <p>Gold loan if taken for a short time gold loan is useful, but if taken for a long time it can be a loss-making deal.</p>
          <p>The interest rate on a gold loan is much less when compared with other loans.</p>
          <p>A gold loan provides excess to early loan approval.</p>
          <p>Banks are willing to provide gold loans because, in gold loans, they get physical collateral for giving out loans.</p>
          <p>The processing fees charged on a gold loan are zero or almost negligible.</p>
          <p>When you apply for a personal loan, home loan, etc the credit history is checked, but in the case of gold loans, banks provide loans without looking at credit history. You can get a gold loan without even having income proof.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#wiefgl">Who is eligible for a gold loan?</a>
        </h4>
        <div id="wiefgl" class="collapse">
          <p>Different banks have different age criteria for getting a gold loan but the average of which is 17 years to 70 years.</p>
          <p>Some banks offer gold loans at an old age but it will require a co-applicant.</p>
          <p>The eligibility for a gold loan is quite simple if you want a gold loan, you need to have enough gold ornaments.</p>
          <p>To get a gold loan, you need an identity and address proof, passport, Driving license, Voter’s ID Card, Aadhaar Card, and PAN Card.</p>
          <p>The gold articles submitted to avail of a gold loan is that it needs to be pure and should be a minimum of 17 carats.</p>
          <p>A salaried person, businessman, housemaker, or senior citizen is eligible to get a gold loan.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#wbhlirfgl">Which bank has a low-interest rate for gold loans?</a>
        </h4>
        <div id="wbhlirfgl" class="collapse">
          <p>The interest rate of banks offered on gold loans can be as low as 7% to a maximum of 13%.</p>
          <p>The interest rate may differ depending on the loan procedures and loan tenure.</p>
          <p>These are the Banks that offer low-interest rates gold loans,</p>
          <ul>
            <li>Bank of Maharashtra:- 7.70% per annum.</li>
            <li>Punjab and Sind bank:- 7% per annum.</li>
            <li>Punjab national bank:-7.25% per annum.</li>
            <li>Union bank:- 7% per annum.</li>
            <li>Canara bank:- 7.30% per annum.</li>
          </ul>
          <p>The above-mentioned interest rates are for a certain amount of loan. The CBIL score is not checked at the time of getting the loan, but if you fail to repay the loan, the gold is auctioned off. It affects your CIBIL negatively.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
