<section id="blog-banner"></section>
<section class="content faq-container">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>FAQs</h2>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#vlwgl">What information does a bank look at when giving loan?</a>
        </h4>
        <div id="vlwgl" class="collapse">
          <p>Loan is an amount which a person borrows from bank for a certain period of time and repays back after that time with interest rate.</p>
          <ol>
            <li>Secured loans</li>
            <li>Unsecured loan</li>
          </ol>
          <p><b>Secured loan:</b> A loan in which the person taking loan have to keep his/her property as guarantee to the lender in exchange for money.</p>
          <p>Ex., home loan, gold loan, car loan, business loan.</p>
          <p><b>Unsecured loan:</b> A type of loan in which the person who is taking loan do not have to keep a guarantee in exchange for money.</p>
          <p>Ex., student loan, personal loan, credit card.</p>
          <p>Bank when helping with loan they look at your credit score, income, ongoing EMI’s, occupation, repayment history, if secured loan bank will look for the value of the collateral, Size of down payment, purpose of loan.</p>
          <p></p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#dhmccaycsn">Does having multiple credit card affect your cibil score negativily?</a>
        </h4>
        <div id="dhmccaycsn" class="collapse">
          <p>No ,having multiple credit card does not affect your cibil score.</p>
          <p>Firstly what's a credit card it is like a post pay method of bank which we can use to pay for things and pay the bank afterwards monthly or in full.</p>
          <p>Cibil score is a credit score which is decided on the basis of your past and present payment history.</p>
          <p>Many of us are under the impression that shutting the old debit card and using the fresh one will improve their cibil score.</p>
          <p>But, it's false once the old card is been shut down along with it goes the credit points of yours .</p>
          <p>So, instead of shutting down you can limit the use of credit card and be regular with the repayment. So, it will help in bosting your cibil.</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#wadtohl">What are different types of home loan?</a>
        </h4>
        <div id="wadtohl" class="collapse">
          <p>Let's discuss first what is a home loan, home loan is a type of loan which a person takes from bank to build himself a place called home.</p>
          <p>Home loan is a type of secured loan meaning it is given by the bank by taking a collateral or guarantee.</p>
          <p>There are a category of home loans between which you can choose based on your requirement:</p>
          <ul>
            <li><b>Home construction loan</b></li>
            <p>This loan is like a gem for people who wants to construct their own house rather than buying an already constructed one.</p>
            <p>Before taking a construction loan one should know the exact cost of construction as the loan is based on the approximate construction cost. Construction loan also depends on the plot cost. The loan for construction loan is generally given in installments.</p>
            <li><b>Loan for purchase of loan</b></li>
            <p>The loan which is generally given to applicants who are looking to buy a land . And the person can give back the money in the form of monthly installments.</p>
            <li>Home expansion loan</li>
            <p>Thinking of expanding, adding a room or kitchen. This loan is the exact thing you may have been looking for as these loan is provided to applicants who just want to renovate or expand their existing home.</p>
            <li>Transfer of home loan</li>
            <p>Yes, you are hearing it right home loan can be transferred. But only when the conditions of the transfer of home loan is met which is if the owner of the property has sold the property to a new buyer. Generally the transfer of loan is also done if the person willing to transfer loan to another bank because he is finding a low interest rate on some other bank. But before transferring the loan one should keep in mind the processing fees etc.</p>
            <li>NRI home loan</li>
            <p>Most Indian bank provide secured home loan to NRI (non resident indian ). These loan is designed for NRI who want to buy a home in India. The procedure for these loans is slightly different from the others.</p>
          </ul>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#hdigilwbc">How do I get instant loan with bad credit?</a>
        </h4>
        <div id="hdigilwbc" class="collapse">
          <p>Generally banks are willing to give an instant loan to person with a good credit score but does that mean a person cannot get loan if having a bad credit.</p>
          <p>The answer to this is no a person having bad credit can also get an instant loan.</p>
          <p>But with taking proper measures instant loan can be granted like.,</p>
          <ul>
            <li>Proving that you can repay with your income having a 5 digit salary does not mean you have a good cibil score but it can be a plus point in ensuring that you repay back the loan, so communicate with the lender and provide proof of steady income.</li>
            <li>Apply for a low personal loan. From a bank’s view low credit score means higher the probability to default in repayment. But if you take a low personal loan bank might get more assurance giving you the loan.</li>
            <li>Apply with a guarantor for loan Applying with a guarantor will get your chances of getting a loan more faster. But with getting a full permission with the guarantor.</li>
          </ul>
          <p>Getting a loan with bad credit score can get you a loan but the loan interest rate might be higher as the bad credit score directly indicates your bad repayment history.</p>
          <p>Bad credit score can be due to:</p>
          <ul>
            <li>Irregularities in repayment of EMI or credit card bills.</li>
            <li>Amount you took from bank.</li>
            <li>Having high credit use.</li>
            <li>New loan applied.</li>
            <li>Sometimes their might be an error in your cibil report which you need to discuss with bank.</li>
          </ul>
          <p>You can also boost your credit score by doing some healthy improvements to your account like.,</p>
          <ul>
            <li>Repaying your EMI or credit bills on time.</li>
            <li>Paying your credit card bills in full rather than monthly installments.</li>
            <li>Getting a mix of secured and unsecured loans.</li>
            <li>Controlling your credit card spending</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="card-title">
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#cigaccwlcs">Can I get a credit card with low cibil score?</a>
        </h4>
        <div id="cigaccwlcs" class="collapse">
          <p>Credit card is the most conveninent type of payment method in today's world, in which you can buy the items you want and pay for them later.</p>
          <p>Credit card can be of good use if used properly and repayment of it done on time.</p>
          <p>The issue with its repayment will directly affect your cibil score.</p>
          <p>Sometimes due to issues we might get irregular with the repayment which gets us into the category of low cibil scorers.</p>
          <p>But you can get a credit card with low cibil score with these options:</p>
          <ul>
            <li>Applying with your primary bank</li>
            <p>Applying for credit card with your bank can be easy because your primary bank will have your financial history which makes them easy  to trust which makes you an easy applicant for credit card.</p>
            <li>Get a secured credit card</li>
            <p>Credit cards are usually given to a person without taking any collateral from them .But in case of bad credit credit card is prevented.</p>
            <p>So what you can do is provide a collateral against which bank will provide you with a credit card.</p>
          </ul>
          <p>There are cons of taking a credit card with bad credit score which are.,</p>
          <ul>
            <li>Getting a credit card with a high rate of interest.</li>
            <li>Low credit limit.</li>
            <li>High possibility for card rejection.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
