<!-- <section>
  <div class="container  custom-container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center card-title">Easy Hassle-Free Insurance for Your Health, Life, Assets, and more!</h3>
      </div>
    </div>
  </div>
</section>
<div class="container custom-application">
  <div class="row">
    <div class="col-md-6">
      <p>Please provide following details for the application</p>
      <%#= form_for @inssurance, :url => { :action => "inssurance" }, remote: false, html: { class: "custom_credit_card" } do |f| %>
          <div class="row">
            <div class="col-md-12">
              <label>Your Full Name</label>
              <%#= f.text_field(:full_name, class: "form-control", autofocus: "true") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Your Mobile Number</label>
              <%#= f.number_field(:mobile_number, class: "form-control") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Your Email</label>
              <%#= f.text_field(:email, class: "form-control") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Chose Product</label>
              <%#= f.select(:loan_purpose, @inssurance.loan_reasons, class: "form-control") %>
            </div>
          </div>
          <button type="submit" class="btn btn-custom btn-block">Submit</button>
          <br>
      <%#end%>
    </div>
    <div class="col-md-6">
      <h4 class="crd-heading">
        <br><br>
        <span>Buy Term Plan, Car Insurance, or any other! we can help you choose the best one.</span> Instant Policy, Online Renewal, We hand-hold you when it comes to settling the claims and getting maximum benefit from insurance company.<br><br>Call <a href="tel:+919112345687">+91-91123-45687</a> to get all your answers.
      </h4>
    </div>
  </div>
  <br>
</div>
<div class="container application-description">
  <div class="row">
    <div class="col-md-12">
      <br>
      <p class="pl-ser"><strong>Insurance Details</strong></p>
      <div class="row table-responsive">
        <table class="table">
          <tr>
            <td>HEATH INSURANCE</td>
            <td>LIFE INSURANCE</td>
          </tr>
          <tr>
            <td>INVESTMENT PLAN</td>
            <td>GUARANTEED RETURN PLAN</td>
          </tr>
          <tr>
            <td>CHILD SAVING PLAN</td>
            <td>TAX SAVING PLAN</td>
          </tr>
          <tr>
            <td>HOME INSURNACE</td>
            <td>CAR INSURANCE</td>
          </tr>
          <tr>
            <td>2 WHEELER INSURANCE</td>
            <td></td>
          </tr>
        </table>
      </div>
      <p>We hand-hold you when it comes to settling the claims and getting maximum benefit from insurance company.</p>
      <p>We have so far settled claims amount to 11 crore for our clients.</p>
      <p>When you contact us to buy insurance, we make sure you leave happy and satisfied. Whichever insurance that you may have in mind, if this is the first time you’re buying insurance; our Relationship Manger will offer the help and answer all your questions. </p>
      <p>Whether you’re contemplating to take term insurance to protect your loved ones, or want to buy insurance for your vehicle or building or any other asset, we will present all the options based on your need and answer all the questions to help you take an informed decision to safeguard your future.</p>
      <p>With us you never have to worry about hidden charges or other unpleasant surprises leading to expense.</p>
      <p>From Critical Illness Insurance, accidental death cover, tax benefits, permanent disability, term insurance, asset protection insurance we offer all kinds of insurance and are attached with the best and leading insurance companies.</p>
      <p class="pl-ser">How we help</p>
      <p>Right from helping you decide the type and duration of insurance, the best policy you should opt for under different circumstances, considering your age, income, etc. to calculating an appropriate premium you should pay; we can make it all happen for you in the most hassle free manner. We help you put documents in order, initiate auto debit of premium directly from bank to make life easy for you.</p>
      <p>We answer a wide range of questions to cover various topics from which cover will be best for you, ideal duration that your health, life or asset policy should be, maximum amount covered, benefits of buying insurance policies, about built-in benefits of each of the policies you’re looking to buy. We’ll also inform you about age limits on buying certain policies, etc. We will give you detailed info on what your insurance covers like Hospital room rent limit, road ambulance charges, organ donor expenses, post hospitalization expenses, day care treatment coverage, if robotic surgery is covered in your policy,  We will also stand by you at the time of getting settlements and claims.</p>
      <p class="pl-ser">With us every policy will be completed in 3 Easy steps</p>
      <p>Select the best plan</p>
      <p>Complete application and other formalities and documents</p>
      <p>Do payment and upload documents</p>
      <p class="pl-ser"><strong>Check out more services offered by us</strong></p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="other-services">
        <%#= link_to custom_personal_loan_path, method: :get do %>
          <%#= image_tag "icons/personal-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Personal Loan
        <%#end%>
        <%#= link_to custom_transfer_personal_loan_path, method: :get do %>
          <%#= image_tag "icons/transfer-personal-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Transfer Personal Loan
        <%#end%>
        <%#= link_to custom_business_loan_path, method: :get do %>
          <%#= image_tag "icons/business-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Business Loan
        <%#end%>
        <%#= link_to custom_professional_loan_path, method: :get do %>
          <%#= image_tag "icons/professional-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Professional Loan
        <%#end%>
        <%#= link_to custom_home_loan_path, method: :get do %>
          <%#= image_tag "icons/home-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Home Loan
        <%#end%>
        <br><br><br>
        <%#= link_to custom_transfer_home_loan_path, method: :get do %>
          <%#= image_tag "icons/tr-home-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Transfer Home Loan
        <%#end%>
        <%#= link_to custom_loan_against_property_path, method: :get do %>
          <%#= image_tag "icons/loan-against-property-icon.svg", style: "width: 25px;" %>&nbsp;
          Loan Against Property
        <%#end%>
        <%#= link_to custom_new_car_loan_path, method: :get do %>
          <%#= image_tag "icons/new-car-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          New Car Loan
        <%#end%>
        <%#= link_to custom_used_car_loan_path, method: :get do %>
          <%#= image_tag "icons/used-car-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Used Car Loan
        <%#end%>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.credit-card-banks').owlCarousel({
      loop:true,
      margin:10,
      items: 3,
      nav:true,
      autoplay:true,
      autoplayTimeout:10000,
      autoplayHoverPause:true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        1200:{
          items: 5
        },
        1000:{
          items: 5
        }
      }
    });
  });
</script> -->