<section id="secondary-banner" class="dynamic-image-5">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h2>Pre Approved Offers</h2>
        <h4></h4>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li>Pre Approved Offers</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="personal-loan-section custom-container">
  <%= form_for @pre_approved_offer, :url => { :action => "pre_approved_offer" }, html: { id:  "pre_approved_offer", class: "pre_approved_offer" } do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <h3>Pre Approved Offer</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <span>First Name <span>*</span></span>
            <%= f.text_field(:first_name, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <span>Last Name <span>*</span></span>
            <%= f.text_field(:last_name, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <span>Mobile Number <span>*</span></span>
            <%= f.number_field(:mobile_no, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">      
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  <%end%>
</section>
