<section>
  <div class="container custom-container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Thank You!</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Our finance executive will be reach out soon for further process!</h5>
        <h5>Having Trouble? <a href="/contact_us">Contact Us</a></h5>
        <a href="/" class="btn btn-custom" style="color: #fff;">Continue to services</a>
      </div>
    </div>
  </div>
</section>