<section id="secondary-banner" class="dynamic-image-6">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>New Personal Loan</h2>
                <h4>Apply for new personal loan</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="personal-loan-section custom-container">
  <%= form_for @personal_loan, :url => { :action => @personal_loan.id.nil? ? "update_otp_status" : "update_otp_status"}, html: {id:  "otp_personal_loan", class: "otp_personal_loan"} do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="form-group">
            <h3>Verify OTP</h3>
          </div>
          <div class="form-group">
            <span>OTP <span>*</span></span>
            <%= f.number_field(:otp, class: "form-control", value: "") %>
          </div> 
          <button type="submit" class="btn btn-default">Submit</button>
          <a href="javascript:void(o)" id="personal-loan-resend-otp" style="float: right;">Resend</a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  <%end%>
</section>
