<!-- <section id="secondary-banner" class="dynamic-image-6">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>New Personal Loan</h2>
                <h4>Apply for new personal loan</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section> -->
<section class="business-loan-section custom-container">
  <%= form_for @personal_loan, :url => { :action => "update_personal_loan_assets" }, html: {id:  "personal_loan_assets", class: "personal_loan_assets"} do |f| %>
    <div class="container">
      <div class="row heading">
        <div class="col-md-6">
          <h3>Upload KYC Document</h3>
        </div>
      </div>
      <div class="row first-row">
        <div class="col-md-12">
          <div class="form-group">
            <ul class="file-msg">
              <li>Supported file format - <b>PDF/ JPG/ PNG only</b></li>
              <li>File size should be <b>< 5 MB</b></li>
            </ul>
            <label>NOTE: Your uploaded document will be secure on our end.</label>
          </div>
        </div>
      </div>
      <hr class="file-hr">
      <div class="row"> 
        <div class="col-md-6">
          <div class="form-group">
            <label>Id Proof(Front)
              <a href="" data-toggle="tooltip" data-placement="top" title="Driving licence, aadhar or voting card">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label><br>
            <div class="wrapper">
              <div class="file-upload">
                <%= f.file_field(:id_proof_front, class: "") %>
                <i class="fa fa-arrow-up"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Id Proof(Back)
              <a href="" data-toggle="tooltip" data-placement="top" title="Driving licence, aadhar or voting card">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label><br>
            <div class="wrapper">
              <div class="file-upload">
                <%= f.file_field(:id_proof_back, class: "") %>
                <i class="fa fa-arrow-up"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
       <button type="submit" class="btn btn-custom">Submit</button>
    </div>
  <%end%>
</section>
