<section class="personal-loan-section custom-container">
  <div class="container p-container">
    <%= form_for @personal_loan, :url => { :action => @personal_loan.id.nil? ? "create_otp" : "update"}, remote: true, html: {id:  "basic_personal_loan", class: "basic_personal_loan"} do |f| %>
      <div class="container">
        <div class="row heading">
          <div class="col-md-6">
            <h3>Loan Application</h3>
          </div>
        </div>
        <%= render partial: "form", locals: { f: f } %>
        <button type="submit" class="btn btn-custom"><b>Process</b></button>
      </div>
    <%end%>
    <br>
    <%= form_for @personal_loan, :url => { :action => @personal_loan.id.nil? ? "update_otp_status" : "update_otp_status"}, method: :patch, remote: true, html: {id:  "otp_personal_loan", class: "otp_personal_loan hide-div"} do |f| %>
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.number_field(:otp, class: "form-control", value: "", placeholder: "OTP") %>
            </div> 
            <button type="submit" class="btn btn-custom">Submit</button>
            <a href="javascript:void(o)" id="personal-loan-resend-otp" style="float: right;">Resend</a>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    <%end%>
  </div>
</section>
