/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

footer {
  margin-top: 30px;  
}

input, select{
  margin-bottom: 10px;
}

.ptnr-1-row {
  padding-bottom: 40px;
}

.ptnr-bajaj-bank {
  background: black;
  padding: 5px;
}

.tnr-2-row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.tnr-3-row {
  padding-top: 40px;
}

.img-sbi-card {
  margin-top: 14px;
}

.img-indus-card {
  margin-top: 30px;
}

.img-hdfc-card {
  margin-top: 27px;
}

.padding-loans {
  padding-bottom: 40px;
  padding-top: 40px;
}

.col-lg-2-5, .col-lg-2-5 {
  flex: 0 0 20%;
  max-width: 20%;
}

.div-loan > .loan-img1 {
	background-image: linear-gradient(145deg, #550814, #ef4961);
  width: 210px;
  height: 210px;
  border-radius: 10px;
}

.loan-img1:hover {
  border: 5px solid #d5d3d3;
}

.div-loan > .loan-img2 {
  background-image: linear-gradient(145deg, #075140, #50c87b);
  width: 210px;
  height: 210px;
  border-radius: 10px;
}

.loan-img2:hover {
  border: 5px solid #d5d3d3;
}

.div-loan > .loan-img3 {
  background-image: linear-gradient(145deg, #200751, #4869c8);
  width: 210px;
  height: 210px;
  border-radius: 10px;
}

.loan-img3:hover {
  border: 5px solid #d5d3d3;
}

.div-loan > .loan-img4 {
  background-image: linear-gradient(145deg, #510737, #c8489b);
  width: 210px;
  height: 210px;
  border-radius: 10px;
}

.loan-img4:hover {
  border: 5px solid #d5d3d3;
}

.div-loan > .loan-img5 {
  background-image: linear-gradient(145deg, #511f07, #c89548);
  width: 210px;
  height: 210px;
  border-radius: 10px;
}

.loan-img5:hover {
  border: 5px solid #d5d3d3;
}

.div-loan {
	position: relative;
}

.div-loan > .img-text {
  position: absolute;
  top: 100px;
  left: 103px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-text {
  span {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
  }
  i {
    color: #ffffff;
  }
}

.btn-search-loan {
	border-radius: 0px 2px 2px 0px;
}
.search-loan {
	margin-bottom: 0px;
}

.header-video {
  height: 300px;
  width: 800px;
	border: #ffffff;
}
.header-description {
	padding: 80px;
  color: #ffffff;
  text-align: center;	
}

.banner {
  padding: 30px 0px 30px 0px;
	background-image: linear-gradient(90deg, #01000f 0%, #090979 35%, #00d4ff 100%);
}

textarea.error, input.error, select.error {
  border: 1px dotted #ff0000;
}

.main-thx-row {
  border: 2px solid #20d950;  
}
.thank-row {
  padding: 20px;
  .congo {
    height: 53px;
  }
  .float-left {
    position: relative;
    font-weight: bold;
    color: #04194b;
  }
  .float-left:after {
    content: '';
    width: 90px;
    height: 4px;
    background: #6c70ca;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .float-right {
    float: right!important;
    background-color: #04194b;
    color: #ffffff;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
  }
}

.bank-thank-row {
  background: #032361;
  .bank-thx-img {
    margin: 40px;
    width: 280px;
    border-left: 0px;
    padding-left: 0px;
    background-color: #032361;
  }
  div{
    margin: 20px 20px 20px 40px;
    border-left: 5px solid #7e6c6c;
    padding-left: 15px;
    background-color: #23407a;
    padding: 5px 5px 5px 20px;
    p {
      margin-bottom: 0px;
      color: #ffffff;
    }
  }
}

.contact-info {
  display: flex;
  div {
    display: flex;
    padding: 10px 10px 10px 0px;
    background: #dddddd;
    border-left: 5px solid #00c0b8;
    span {
      font-size: 45px;
      color: #6c70ca;
    }
    span:before {
      padding-left: 6px;    
    }
    p {
      margin-left: 12px;
      margin-bottom: 0px;
    }
  }
}

.custom-container {
  padding: 50px 0px 50px 0px;
}

.ind-section {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  color: #ee4031;
}

.ind-section:after {
  content: '';
  width: 90px;
  height: 4px;
  background: #6c70ca;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.testimonital {
  .card {
    text-align: center;
    box-shadow: 3px 3px 5px 6px #afadad;
  }
  h3, h4 {
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .header-description {
    padding: 10px;
  }
  .header-description > h4 {
  	font-size: 18px;
  }
}