.profile-container {
  h4 {
    padding: 20px;
    color: #3c9e86;
  }
  margin: 0 auto;
  table {
    td {
      border-top: 0px;
      font-size: 17px;
    }
  }
  .default-img {
    width: 25%;
    box-shadow: 2px 2px 4px 2px #052f5f0a, 0 12px 16px 0 #bae8cf99;
    border-radius: 5%;
  }
}
.personal-loan-section {
  .row1 {
    padding: 50px;
    .col-md-6 {
      font-size: 18px;
    }
  }
  .row2 {
    text-align: center;
    .col-md-6 {
      font-size: 16px;
    }
    label {
      font-weight: bold;
      color: #b4b1b1;    
    }
    span {
      color: #0a3560;
      font-size: 20px;
    }
  }
}

.pre_approved_offer {
  .container {
    .heading {
      height: 70px;
      background: linear-gradient(135deg,#294e9b,#6c6ea0);
      color: #ffffff;
      border-radius: 10px 10px 0px 0px;
      h3 {
        padding-top: 15px;      
      }
    }
    .first-row {
      padding-top: 20px;
    }
  }
  .form-group {
    label {
      font-size: 18px;
    }
  }
}

#banner1 {
  background: url(./credit-card-banner2.jpg) top center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  .container-banner1 {
    padding-top: 300px;
    padding-bottom: 300px;
  }
}

#pre-apv-banner {
  background-image: url(./pre-approved.png);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

#abt-us-banner {
  background-image: url(./about-us.png);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
}

#emi-calc-banner {
  background-image: url(./emi-calculator.png);
  height: 430px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
}

#blog-banner {
  background-image: url(./blog.png);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
}

#cont-us-banner {
  background-image: url(./contact-us.png);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
}

.bg-img {
  background-image: url(./registration.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 470px;
}

.card-section {
  .container-card {
    width: 40%;
  }
}

.pb-feature-section-serve {
  margin-top: 0px !important;
  .row1 {
    margin-bottom: 20px;
  }
  .container {
    padding: 20px;
  }
  a {
    display: grid;
    text-align: center;
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
    background-color: #fff;
    padding: 16px 0;
  }
  a:hover {
    box-shadow: 1px 4px 6px 6px rgba(36, 39, 44, 0.1);
  }
  img {
    width: 80px;  
  }
  .pop-city {
    font-size: 15px;
    color: #433e3e;
    padding-top: 15px;
  }
  .col-md-6-prd {
    //padding-left: 30px;
    //padding-right: 30px;
  }

  #check_city {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #d1dce2;
    border-radius: 0;
    box-shadow: none;
    display: block;
    float: none;
    font-size: 1.1em;
    height: auto;
    line-height: 18px;
    margin: 0;
    padding: 0 0 3px;
    width: 100%;
  }
  .chk-city {
    margin-top: 5%;
  }

  @media (max-width: 576px) {
    .col-sm-4 {
      -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333% !important;
      max-width: 33.333333% !important;
    }
    .pop-city {
      font-size: 13px;
    }
    img {
      width: 50px;
    }
    .col-md-9 {
      padding: 0px;
    }
    .col-md-prd {
      padding: 5px;    
    }
    .chk-city {
      margin-top: 5%;
    }    
  }
}

#newsletter {
  display: flex;
  #newsletter_email {
    border-radius: 0px;
    border: 1px solid;
  }
  .md-button {
    margin-bottom: 0px;
    border-radius: 0px;
  }
}
.container-step {
  box-shadow: none !important;
}

.pre-pay-charg {
  text-align: left !important;
  width: 30%;
  p {
    margin-bottom: 0px !important;
  }
}

.i-info {
  cursor: pointer;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #ffffff;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 100px;
}

.hide-div {
  display: none;
}

.slider:hover {
  //opacity: 0.7;
}

.btn-custom {
  background-color: #ff7000;
  border-color: #ff7000;
}

.bottom-header {
  .container {
    margin: 0px;
    max-width: 100%;
    box-shadow: 0 2px 4px 0 #052f5f0a, 0 12px 16px 0 #bae8cf99;
  }
}

.desktop-nav {
  li {
    margin: 0px 10px 0px 10px;
  }
}

.sign-in {
  color: #1b1dc7 !important;
  background: #e7eaf1;
  border-radius: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 30px;
  background: #0854a0;
  cursor: pointer;
  border-radius: 100px; 
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.search-loan {
  margin-bottom: 0px;
  width: 350px !important;
  border-radius: 5px !important;
  border: 0px solid #767171 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

.loan-search-ico {
  position: relative;
  color: #797979;
  right: 20px;
  top: 10px;
}

.img-effect {
  visibility: visible;
  animation-name: bounceInUp;
  width: 180px;
  height: 128px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(5,47,95,.04), 0 12px 16px 0 rgba(52,105,203,.12);
  border-radius: 10px;
  margin: 0 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
}

.part-img-effect {
  visibility: visible;
  animation-name: bounceInUp;
  width: 150px;
  height: 150px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(5,47,95,.04), 0 12px 16px 0 rgba(52,105,203,.12);
  border-radius: 10px;
  margin: 0 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
}

.bottom-video {
  width: 100%;  
}

.emi-calc {
  border-top: solid 1px #ee4031;
}

.canvasjs-chart-credit {
  display: none;
}

.tot-amt, .mon-emi, .pri-amt, .tot-int {
  font-weight: bold;
}

input[type="email"], input[type="password"], input[type="number"], input[type="text"], input[type="date"], div.styled, input[type="file"] {
  height: 35px !important;
  font-size: 16px;
  margin-bottom: 0px !important;
}

select {
  height: 35px !important;
  font-size: 16px;
  margin-bottom: 10px;
}

textarea {
  height: 80px;
  font-size: 16px;
}

footer {
  margin-top: 30px;  
}

input {
  margin-bottom: 10px;
}

.ptnr-1-row {
  padding-bottom: 40px;
}

.ptnr-bajaj-bank {
  background: black;
  padding: 5px;
}

.tnr-2-row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.tnr-3-row {
  padding-top: 40px;
}

.img-sbi-card {
  margin-top: 14px;
}

.img-indus-card {
  margin-top: 30px;
}

.img-hdfc-card {
  margin-top: 27px;
}

.padding-loans {
  //padding-bottom: 10px;
  //padding-top: 10px;
}

.owl-dots {
  display: none;
}

.col-lg-2-5, .col-lg-2-5 {
  flex: 0 0 20%;
  max-width: 20%;
}


.btn-search-loan {
	border-radius: 0px 2px 2px 0px;
}

.header-video {
  height: 300px;
  width: 800px;
	border: #ffffff;
}
.header-description {
	padding: 80px;
  color: #ffffff;
  text-align: center;	
}

.banner {
  padding: 30px 0px 30px 0px;
	background-image: linear-gradient(90deg, #01000f 0%, #090979 35%, #00d4ff 100%);
  height: 300px;
}

textarea.error, input.error, select.error {
  border: 1px dotted #ff0000;
}

.main-thx-row {
  border: 2px solid #20d950;  
}
.thank-row {
  padding: 20px;
  .congo {
    height: 53px;
  }
  .float-left {
    position: relative;
    font-weight: bold;
    color: #04194b;
  }
  .float-left:after {
    content: '';
    width: 90px;
    height: 4px;
    background: #6c70ca;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .float-right {
    float: right!important;
    background-color: #04194b;
    color: #ffffff;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
  }
}

.bank-thank-row {
  background: #032361;
  .bank-thx-img {
    visibility: visible;
    animation-name: bounceInUp;
    width: 180px;
    height: 128px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(5,47,95,.04), 0 12px 16px 0 rgba(52,105,203,.12);
    border-radius: 10px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    border-left: 0px;
  }
  div{
    margin: 20px 20px 20px 40px;
    border-left: 5px solid #7e6c6c;
    padding-left: 15px;
    background-color: #23407a;
    padding: 5px 5px 5px 20px;
    p {
      margin-bottom: 0px;
      color: #ffffff;
    }
  }
}

.contact-info {
  display: flex;
  div {
    display: flex;
    padding: 10px 10px 10px 0px;
    background: #dddddd;
    border-left: 5px solid #00c0b8;
    span {
      font-size: 45px;
      color: #6c70ca;
    }
    span:before {
      padding-left: 6px;    
    }
    p {
      margin-left: 12px;
      margin-bottom: 0px;
    }
  }
}

.custom-container {
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
}

.emi-calcul {
  .container {
    padding: 0px 50px 50px 50px;
  }
}

.ind-section {
  position: relative;
  font-weight: 400;
  font-size: 21px;
  background: -webkit-linear-gradient(#01b4ec, #101635);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ind-section:after {
  content: '';
  width: 90px;
  height: 2px;
  background: #6c70ca;
  position: absolute;
  top: 30px;
  left: 0px;
}

.testimonital {
  .card {
    text-align: center;
    box-shadow: 3px 3px 5px 6px #afadad;
  }
  h3, h4 {
    font-weight: bold;
  }
}

.crd-sat-cust {
  background: linear-gradient(135deg, #ffffff 0, #9facb4 100%);
  h3, h4, h2 {
    color: #072440;
  }
  img {
    padding-bottom: 10px;
  }
}

.crd-parts {
  background: linear-gradient(135deg, #fcf9f7 0, #bc8252 100%);
  h3, h4 {
    color: #072440;
  }
  img {
    padding-bottom: 10px;
  }
}

.contact-us {
  border: 2px solid #0854a0;
  width: 100%;
  height: 500px;  
}

.regist-div {
  div {
    margin: auto;
  }
}

.loan-table {
  th, td {
    text-align: center;
    vertical-align: middle;
  }
  div {
    margin: 0 auto;
  }
}


#loan-autocomplete-list {
  border-radius: 0px 0px 5px 5px;
  background: #ffffff;
  z-index: 99;
  position: absolute;
  width: 350px;
  ul {
    .loans {
      color: #ffffff;
      background-color: #bfbebd;
      font-weight: bold;
    }
    .cards {
      color: #ffffff;
      background-color: #bfbebd;
      font-weight: bold;
    }    
    margin: 0;
    padding: 0;
    text-align: left;
    li {
      padding: 5px;
      a {
        color: #000000;
      }
      a:hover {
        color: #2069d1;
      }
    }
    li:hover {
      //background-color: #bfbebd;
    }
  }
  text-align: center !important;
  background-color: white;
  position: absolute;
  margin-top: 36px;
  margin-left: 2px;
  box-shadow: 1px 1px 10px #aaa;
}

.predictions {
  list-style-type: none;
}

.pre-appr {
  .card, .loan {
    border: 0;
  }
}

@media(max-width: 1150px) {
  .search-loan {
    width: 200px !important;
  }
  header .navbar-brand img {
    width: 250px;
  }
  .desktop-nav li {
    margin: 0px 0px 0px 5px;
  }
}

@media(max-width: 1080px) {
  header .navbar-collapse.desktop-menu-dropdown {
    display: none !important;
  }
  header .navbar-header {
    display: block;
    width: 100%
  }
  .navbar-expand-md .navbar-toggler {
    display: inline;
    float: right;
  }
  header .bottom-header .navbar-nav {
    float: none !important;
  }
  .navbar-toggler:not(:disabled):not(.disabled) {
    background: #0854a0;
    margin-top: 6px;
  }
  header .bottom-header .navbar-default .navbar-brand {
    padding: 0px 0 0 0px;
  }
}

@media(max-width: 768px) {
  .col-md-6-prd {
    max-width: 100%;
    flex: 100%;
  }

  #banner1 {
    background-position: center;
    width: 100%;
    .container-banner1 {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .card-section {
    .container-card {
      width: 100%;
    }
  }

}

@media only screen and (max-width: 600px) {
  .header-description {
    padding: 10px;
  }
  .header-description > h4 {
  	font-size: 18px;
  }
}

@media(max-width: 575px) {
  .owl-carousel .owl-nav .owl-next {
    right: 10px;
  }
  header .bottom-header .navbar-default .navbar-brand {
    padding: 4px 0 0 10px;
  }
  .owl-carousel .owl-nav .owl-prev {
    left: 31px !important;
  }
  .part-img-effect {
    margin: 0px auto;
  }
  .ind-section:after {
    bottom: -5px;
    width: 65px;
  }

  .ind-section {
    font-size: 18px;
  }
  .welcome-wrap h4 {
    font-size: 16px;
  }
  .contact-info div {
    width: 177px;
    word-break: break-word;
  }
  .pre-appr {
    .card, .loan {
      width: 50%;
      border: 0;
    }
    .loan {
      padding: 0px;
    }
  }
  .header-description {
    .col-md-12 {
      padding: 0px;
    }
  }
  .main-logo {
    width: 250px !important;
  }
  .navbar-toggler:not(:disabled):not(.disabled) {
    background: #0854a0;
    margin-top: 6px;
  }
  .top-video {
    width: 100%;
  }
  #banner1 {
    background: url(./mobile/credit-card-banner.jpg) top center no-repeat;
    .container-banner1 {
      h2 {
        font-size: 20px;
      }
      h4 {
        font-size: 15px;
      }
    }
  }
  #pre-apv-banner {
    background: url(./pre-approved.jpg) top center no-repeat;
    .cnt-pre-apv-banner {
      h2 {
        font-size: 20px;
      }
      h4 {
        font-size: 15px;
      }
    }
  }
}


.pb-product.inactive {
  box-shadow: 0 2px 4px 0 rgba(5,47,95,.04), 0 12px 16px 0 rgba(52,105,203,.12);
  transition: .3s!important;
}

.pb-product .product-name {
  font-size: 14px;
  color: #052f5f;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: uppercase;
  transition: all .3s;
}

.pb-product .product-desc {
  font-size: 12px;
  font-weight: 600;
  color: #69829f;
  margin-bottom: 12px;
}

.pb-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180px;
  padding: 16px 14px 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(235,239,247,.8);
  box-shadow: 0 2px 4px 0 rgba(5,47,95,.04), 0 12px 16px 0 rgba(52,105,203,.12);
  margin-bottom: 32px;
  cursor: pointer;
  transition: .3s;
  i {
    float: right;
  }
}


header.affix-top {
  .mobile-menu-dropdown {
    margin-top: 7px;
  }
}

header.affix {
  .mobile-menu-dropdown {
    margin-top: -7px;
  }
}

.mobile-menu-dropdown {
  .navbar-nav {
    background: white;
  }
}

.pb-product:hover {
  //box-shadow: 0 2px 4px 0 #fec8c80a, 0 12px 16px 0 #ff14141f;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px 0 #fec8c80a, 0 12px 16px 0 #ff14141f;
  box-shadow: 0 2px 4px 0 #fec8c80a, 0 12px 16px 0 #ff14141f;
  border: 0;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);  
}

.homeStrip {
  background: #cfeecc;
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 #052f5f0a, 0 12px 16px 0 #bae8cf99;
}

homeStrip .container>p {
  font-size: 14px;
  color: #052f5f;
  font-weight: 600;
}

.homeStrip .container>div {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.homeStrip .container>div>div {
  box-sizing: border-box;
}

.homeStrip .container>div ul {
  list-style: none;
}

.homeStrip .container>div ul li {
  display: flex;
  align-items: center;
  i {
    margin-bottom: 0px;
    margin-right: 10px;
  }
  .fa-times-circle:before {
    color: #b61212;
  }
  .fa-check-circle:before{
    color: #30872a;
  }
}

.homeStrip .container>div ul li img {
  margin-right: 4px;
  display: block;
}

.homeStrip .container>div ul li p {
  font-size: 14px;
  font-size: 14px;
  color: #052f5f;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0px;
}

.wrapper {
  display: grid !important;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  .file-upload {
    height:100px;
    width:100px;
    border-radius: 100px;
    position:relative;
    
    display:flex;
    justify-content:center;
    align-items: center;  

    border:4px solid #FFFFFF;
    overflow:hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size:100px;

    input[type='file']{
      height:100px !important;
      width:100px;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;
    }

    &:hover{
      background-position: 0 -100%;
      color:#2590EB;
    }
    i {
      font-size: 40px;
    }
  }
}

.quicklinks-menu {
  background-color: #fff;
  border: solid 1px #e2e2e2;
  border-radius: 5px;
  border-right: none;
  box-shadow: -10px 0 35px 0 rgba(132,115,115,0.35);
  position: fixed;
  right: 0;
  text-align: center;
  top: 37%;
  width: 75px;
  z-index: 100;
}

.quicklinks-menu ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .quicklinks-menu ul li a {
    width: 85px;
  }
}

.quicklinks-menu ul li.mobile-menu .dropdown-menu li {
  display: inline-block;
  vertical-align: middle;
  width: 32.5%;
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .quicklinks-menu ul li .dropdown-menu li {
    padding: 10px 0 8px;
  }
}

.quicklinks-menu ul li {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.quicklinks-menu ul li.desktop-menu>a, .quicklinks-menu ul li.mobile-menu>a {
  display: none;
}

.quicklinks-menu ul li a {
  color: #00334e;
  display: block;
  font-family: "Titillium Web",sans-serif;
  font-size: .733em;
  line-height: 1.20;
  margin: auto;
  padding: 0;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: 55px;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.quicklinks-menu ul li .dropdown-menu {
  border: 0;
  box-shadow: none;
  display: block;
  margin: 0;
  padding: 0;
  min-width: inherit;
  position: static;
  width: 100%;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: unset;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}

.quicklinks-menu ul li .dropdown-menu li {
  clear: both;
  display: block;
  float: none;
  padding: 17px 0;
  width: 100%;
}

.quicklinks-menu ul li a {
  color: #00334e;
  display: block;
  font-family: "Titillium Web",sans-serif;
  font-size: .733em;
  line-height: 1.20;
  margin: auto;
  padding: 0;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: 55px;
}

.quicklinks-menu ul li a:before {
  color: #e22323;
  display: block;
  font-family: "icomoon";
  font-size: 2.5em;
  margin-bottom: 3px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.modal-backdrop {
     background-color: rgba(0,0,0,.0001) !important;
}

#call-you {
  .instant-call {
    input, select {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid #d1dce2;
      border-radius: 0;
      box-shadow: none;
      display: block;
      float: none;
      font-size: 1.1em;
      height: auto;
      line-height: 18px;
      margin: 0;
      padding: 0 0 3px;
      width: 100%;
    }
    .form-control:focus {
      box-shadow: none;
    }
    .ins-lbl {
      margin-bottom: 0px;
      color: #00334e;
      text-transform: uppercase;
    }
    .ins-lbl:after {
      color: #e00;
      content: "*";
    }
  }

  button {
    padding: 13px;
    font-size: 17px;
    font-weight: bold;
  }

  .modal-header {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .modal-body {
    padding-top: 0px;
    .heading {
      font-size: 1.1em;
      font-weight: bold;
      color: #00334e;
      text-align: center;
      margin: 0px;
    }
    .body {
      text-align: center;
      font-size: 1.06em;
      color: #00334e;
    }
  }
  .modal-content {
    border-radius: 0px;
  }
  .modal-footer {
    border-top: none;
    padding: 0;
    button {
      border-radius: 0px;
    }
  }
  .modal-dialog {
    max-width: 335px;
  }
}

.modal {
  background-image: linear-gradient( #161414d1, #161414d1, #161414d1, #161414d1, #161414d1, #161414d1);
}

#missed-call {
  .modal-header {
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  .modal-content {
    width: 285px;
    height: auto;
    margin: 0 auto;
    margin-top: 230px;
    .modal-body {
      padding-top: 0px;    
    }
    h4 {
      padding: 0px 10px 10px 10px;
      color: #00334e;
      font-size: 24px;
      font-weight: bold;
    }
    p {
      color: #00334e;
    }
    span {
      color: #00334e;    
    }
    .mob-no {
      font-size: 22px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 991px) {
  .quicklinks-menu {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    bottom: 0;
    top: inherit;
    width: 100%;
  }
}

.modal-backdrop {
  display: none;
}

@media screen and (max-width: 1400px) {
  .desktop-nav li {
    margin: 0px 3px 0px 3px;
  }
  .search-loan {
    width: 330px !important;
  }
  .part-img-effect {
    width: 120px;
    height: 100px;
  }
  .owl-carousel .owl-nav .owl-prev {
    top: 30px;
  }
  .owl-carousel .owl-nav .owl-next {
    top: 30px;
  }
}
