.blog-container {
  .details {
    li {
      font-size: 17px;
    }
    a {
      color: #1b1dc7;
      font-size: 17px;
      padding: 5px 5px 5px 5px !important;
      font-weight: 600;
    }
  }
}