.homepage {
  margin-top: 0px;
}
#carosel-home-desk {
  display: block;
  .owl-nav .owl-prev {
    left: 29px;
  }
  .owl-nav .owl-next {
    right: 10px;
  }
  .owl-next:focus, .owl-prev:focus {
    outline: 0px dotted;
    outline: none;
  }
  img {
    border-bottom: 1px solid #ececec;
  }
  .img1 {
    background: url(./carosel/desktop/credit-card-banner.jpg) top center no-repeat;
    height: 550px;
    background-size: contain;
    margin-top: 70px;
  }
  .img2 {
    background: url(./carosel/desktop/home-loan-banner.jpg) top center no-repeat;
    height: 550px;
    background-size: contain;
    margin-top: 70px;
  }
  .txt-carosel-imgs {
    padding: 100px 140px 140px 300px;
    h4 {
      font-weight: bold;
      color: #ed2030;
      text-shadow: 2px 2px #a9a5a5;
    }
    ul {
      padding-left: 20px;
      li {
        list-style: none;
        font-size: 20px;
        line-height: 35px;
        color: #485ed9;
      }      
    }
  }
}

#carosel-home-mob {
  display: none;
  .img1 {
    background: url(./carosel/mobile/credit-card.jpg) top center no-repeat;
    height: 220px;
    background-size: contain;
  }
  .img2 {
    background: url(./carosel/mobile/home-loan.jpg) top center no-repeat;
    height: 220px;
    background-size: contain;
  }
}

.cc-icon {
  width: 25%;
  float: right;
  margin-top: 33px;  
}

.personal-loan-icon {
  width: 25%;
  float: right;  
}

.transfer-personal-loan-icon {
  width: 25%;
  float: right;
  margin-top: -14px;
}

.business-loan-icon {
  width: 25%;
  float: right;
  margin-top: 6px;  
}

.professional-loan-icon {
  width: 20%;
  float: right;
  top: 5px;
  position: relative;  
}

.home-loan-icon {
  width: 24%;
  float: right;
  margin-top: -5px;
}

.tr-home-loan-icon {
  width: 25%;
  float: right;
}

.loan-against-property-icon {
  width: 24%;
  float: right;
  margin-top: -15px;  
}

.new-car-loan-icon {
  width: 25%;
  float: right;
  margin-top: 10px;  
}

.used-car-loan-icon {
  width: 25%;
  float: right;
}

.gold-loan-icon {
  width: 26%;
  float: right;
  margin-top: 5px;  
}

.insurance-icon {
  width: 23%;
  float: right;
}

.pb-feature-section {
	margin-top: 50px;
  box-shadow: 0 2px 4px 0 #052f5f0a, 0 12px 16px 0 #bae8cf99;
  padding-top: 20px;
  border-radius: 10px;

  background: url(./cities-backgrond.svg) top center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #ebf3fa;
}

.bpb-feature-section {
  background: #ebf3fa;
}

.pb-happ-section {
  margin-top: 50px;
  box-shadow: 0 2px 4px 0 #052f5f0a, 0 12px 16px 0 #bae8cf99;
  border-radius: 10px;
  background-color: #ebf3fa;
  p {
    font-size: 20px;
    bottom: 30px;
    position: relative;
    font-weight: 600;
    color: #315fc8;
    span {
      color: #c7384a;
    }
  }
}

.pb-feature-section .pb-feature {
  //margin-bottom: 60px;
}

.pb-feature .top-line, .top-line {
  height: 2px;
  width: 40px;
  background-color: #1b1dc7;
  display: block;
  margin-bottom: 16px;
}
.pb-feature h3 {
  font-size: 24px;
  font-weight: 700;
  color: #1b1dc7;
  max-width: 360px;
  margin-bottom: 16px;
}

.pb-feature .read-more-btn {
   margin-top: 16px;
}
.read-more-btn {
  font-size: 12px;
  font-weight: 700;
  color: #1b1dc7;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 24px;
  background-color: #e6eaef;
  border-radius: 4px;
  display: inline-block;
  transition: all .4s;
}

.pb-feature-section .pb-feature {
  //margin-bottom: 60px;
}

.pb-feature img {
  margin-bottom: 16px;
}

.pb-feature p {
  font-size: 16px;
  line-height: 1.8;
  color: #69829f;
  margin-bottom: 16px;
}

.lkcarousel .carousel-inner {
  box-shadow: 0 2px 4px 0 #052f5f0a, 0 12px 16px 0 #bae8cf99;
  border-radius: 10px;  
}

.lkcarousel .card .card-title {
  font-size: 25px;
  color: #1D1D1D;
  font-weight: 600;
  margin: 0;
}

.lkcarousel .card {
  box-shadow: none;
  width: 100%;
  .external-img {
    width: 563px;
    height: 356px;
  }
}

.lkcarousel {
  .card-block {
    padding: 20px;
  }
}

.lkcarousel .card .card-designation {
  font-size: 15px;
  color: rgba(29, 29, 29, 0.58);
  font-weight: 600;
  margin: 1.2rem 0 2rem;
}

.card-text {
  p {
    font-size: 16px;
  }
}

.all-products-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .homepage {
    margin-top: 90px;
  }
  .cc-icon {
    width: 20%;
    margin-top: 10px;
  }

  .personal-loan-icon {
    width: 19%;
    margin-top: -10px;
  }

  .transfer-personal-loan-icon {
    width: 20%;
  }

  .business-loan-icon {
    width: 20%;
  }

  .professional-loan-icon {
    width: 15%;
    top: 0px;
  }

  .home-loan-icon {
    width: 17%;
    margin-top: -20px;
  }

  .tr-home-loan-icon {
    width: 18%;
  }

  .loan-against-property-icon {
    width: 18%;
  }

  .new-car-loan-icon {
    width: 19%;
    margin-top: 5px;
  }

  .used-car-loan-icon {
    width: 19%;
    margin-top: -8px;
  }

  .gold-loan-icon {
    width: 21%;
    margin-top: -5px;
  }

  .insurance-icon {
    width: 18%;
  }
}

@media(max-width: 575px) {
  .all-products-desktop {
    display: none;
  }
  .all-products-mobile {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    .transfer-personal-loan-icon {
      margin-top: -1px;
      height: 43px;
    }
    .personal-loan-icon {
      height: 43px;
      margin-top: -1px;
    }
    .professional-loan-icon {
      width: 43px;
    }
    .home-loan-icon {
      width: 43px;
      margin-top: 1px;
      height: 50px;
    }
    .loan-against-property-icon {
      height: 45px;
      margin-top: 2px;
    }
    .tr-home-loan-icon {
      height: 45px;
      margin-top: 2px;
    }
    .used-car-loan-icon {
      width: 45px;
      margin-top: 1px;    
    }
    .gold-loan-icon {
      margin-top: 4px;
    }   
  }
  #carosel-home-desk {
    display: none;
  }

  #carosel-home-mob {
    display: block;
  }
}